@using mobile.TxtFeedback_take1.GlobalResources
<!DOCTYPE html>
<html lang="en">
   
<head>
   <meta charset="utf-8" />
   <title>@ViewBag.Title</title>
   <meta name="viewport" content="width=device-width" />
   <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
   @Styles.Render("~/Content/mobileCss_m", "~/Content/css")
   @Styles.Render("~/Content/themes/base/css")  
   @Scripts.Render("~/bundles/modernizr")    
</head>
<body>
    <script type="text/template" id="message-template">
      <div class="textMessage">
         <span>{{ Text }} </span> 
          <div class="clear"></div>          
      </div>      
      {% if (Direction == "to") { %}
         <div class="sendAndReceivedChecks">
             {% if (ClientAcknowledge) { %}
                <img src="/Content/images/doubleCheck.png" class="check" width="34px" height="16px"/>
             {%  } else if (WasSuccessfullySent) { %}             
                <img src="/Content/images/singleCheck.png" class="check" width="34px" height="16px"/>            
             {% } %}
         </div>    
       {% } %}
      <div class="clear"></div>      
   </script>
   <div data-role="page" data-theme="b">
      <div data-role="header">
         @if (IsSectionDefined("Header"))
         {
            @RenderSection("Header")
         }
         else
         {                   
            <img id="logo" src="~/Content/images/42x42.png" width="42" height="42" />
            <h1>@ViewBag.Title</h1>
         }
      </div>
      <div data-role="content" id="contentArea">  
          <div class="debug"></div>       
         @RenderBody()
      </div>      
      <div data-role="footer" data-position="fixed" data-id="myfooter">          

       <!--data-role="footer" data-position="fixed"-->
      
            <div class="threeQuarters">               
               <input type="text" value="" class="input ui-input-text ui-body-a ui-corner-all ui-  -inset"
                  data-form="ui-body-a" id="replyText">
            </div>
            <div class="oneQuarter"> <!-- ui-block-b -->               
               <button type="submit" id="reply" data-theme="a" class="ui-btn-hidden" aria-disabled="false"> @Global.btnSend</button>               
            </div>         
      </div>
    </div>
   
   
   @Scripts.Render("~/bundles/jquery", "~/bundles/jquerymobile")
   @Scripts.Render("~/bundles/lessLikelyToChange")
   @Scripts.Render("~/bundles/myscripts")   
   @RenderSection("scripts", required: false)

    <script type="text/javascript">
        //$("#footer").css("top", window.scrollTop + $(window).height - 50);
    </script>
</body>
</html>
