@model SmsFeedback_EFModels.User
<body>
   @{
      var activityPlanEveryIncoming = "Every incoming";
      var activityPlanDailyDigest = "Daily digest";
      var activityPlanWeeklyDigest = "Weekly digest";
      var activityPlanNone = "None";
      var everyIncomingItemSelectionState =
         Model.TypeOfActivityReport.Equals(activityPlanEveryIncoming) ? "selected" : "";
      var dailyDigestItemSelectionState =
         Model.TypeOfActivityReport.Equals(activityPlanDailyDigest) ? "selected" : "";
      var weeklyDigestItemSelectionState =
         Model.TypeOfActivityReport.Equals(activityPlanWeeklyDigest) ? "selected" : "";
      var noneItemSelectionState =
         Model.TypeOfActivityReport.Equals(activityPlanNone) ? "selected" : "";
      
   }
   <div id="activityReportContainer">
      <legend id="activityReportTitle">@Resources.Global.settingsActivityReportTitle</legend>
      <span class="activityReportFrequencyLabel">
         @Resources.Global.settingsActivityReportFrequency &nbsp
      </span>
      <br />
      <select id="activityReportFrequencySelection">
         <option value="@activityPlanEveryIncoming" 
              @everyIncomingItemSelectionState>@Resources.Global.settingsActivitiyReportEveryIncoming</option>
         <option value="@activityPlanNone" 
               @noneItemSelectionState>@Resources.Global.settingsActivityReportNone</option>
      </select>
      <br />
      <input type="submit" class="btnSaveChanges" id="btnChangeNotificationsSettings" value="@Resources.Global.saveBtnCaption">
      @RenderBody()
   </div>
</body>

