@{
    ViewBag.Title = @ViewBag.Store;
}

<div id="messagesbox"></div>   
<span style="display: none" id="welcomeMessage">@ViewBag.Message</span>
<span style="display: none" id="busyMessage">@ViewBag.BusyMessage</span>
<span style="display: none" id="busyTimerValue">@ViewBag.BusyTimerValue</span>
<span style="display: none" id="componentLocation">@ViewBag.ComponentLocation</span>
<span style="display: none" id="language">@ViewBag.Language</span>